$default-font-size: 16px;
$main-text-color: #1a2124;
$body-background: #e9f3ff;
$content-background: #fff;
$table-title: #2f7fd5;
$table-header: #2f4c97;
$field-default: #bbc5c9;
$field-focused: #2f7fd5;
$field-filled: #505662;
$field-error: #da1b1b;
$icon-hover: #e2eeff;
$icon-active: #b5d3ff;
$icon-disabled: #a8b0bf;
$button-default: #2f67d5;
