<h1 class="customers__title">Клиенты</h1>
<div class="customers__body">
  <div class="customers__panel">
    <app-table-controls></app-table-controls>
    <div
      class="customers__wrapper"
      [tableScroll]="{
        sibling: 'app-table-controls',
        parent: '.customers__body'
      }"
    >
      <table class="customers__table">
        <colgroup>
          <col class="customers__table-checkbox" />
          <col span="4" class="customers__table-data" />
        </colgroup>

        <thead>
          <th>
            <div class="custom-checkbox">
              <input
                [indeterminate]="indeterminate"
                [checked]="checked"
                type="checkbox"
                id="headerCheckbox"
                (change)="checkAllRows($event)"
              />
              <label for="headerCheckbox"></label>
            </div>
          </th>
          <th *ngFor="let header of tableHeaders">
            <div class="customers__header-group">
              <span>{{ header.label }}</span>
              <app-table-sort
                [state]="header.sort"
                (sortEvent)="sortTable(header.key, $event)"
              />
              <app-table-search
                [state]="header.search"
                (searchEvent)="filterTable(header.key, $event)"
              ></app-table-search>
            </div>
          </th>
        </thead>

        <tbody>
          <tr *ngFor="let customer of customers">
            <td>
              <div class="custom-checkbox">
                <input
                  #rowCheckbox
                  [id]="customer.id"
                  type="checkbox"
                  (change)="checkRows($event, customer.id)"
                />
                <label [for]="customer.id"></label>
              </div>
            </td>
            <td>
              <span (click)="editCustomer(customer)" class="customers__name">{{
                customer.name
              }}</span>
            </td>
            <td>
              <span>{{ customer.surname }}</span>
            </td>
            <td>
              <span>{{ customer.email }}</span>
            </td>
            <td>
              <span>{{ customer.phone }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
